/* THEME OPTIONS
   eg: UI fonts, UI colors
 */

/* LIGHT THEME */
:root {
  --generalFontFamily: "Product Sans";
  --generalFontSize: 16px;
  --generalBackgroundColor: #f1f1f1;
  --generalFontColor: #000;

  --primaryColorOne: #EB3348;
  --primaryColorTwo: #FF3D1E;
  --primaryGradient: linear-gradient(135deg, var(--primaryColorTwo), var(--primaryColorOne));

  --boxBorderRadius: 4px;
  --boxShadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 4px 8px rgba(0,0,0,0.15);
  --boxBackgroundColor: #fff;
}

/* DARK THEME */
:root[darkmode] {

}